@media (min-width: 800px) and (max-width: 1277px){
  body{
    width: 97%;
  }
}

/* Adjusting screen sizes based on resizing screen */
@media (min-width: 773px) and (max-width: 800px) {
  body{
    width: 95%;
    background-image: url('../images/horizontal_bg.jpg');
  }
  .container{
    width: 100%;
  }

  .welcome{
    margin-left: 9%;
  }

  h3{
    margin-left: 7%;
  }

  h3, .timer, .decide, .user_input ,.robot_decision{
    text-align: center;

  }
  .options{
    margin-left: 1%;
    margin-top: 14%;
  }

  .score{
    margin-left: 12%;
    margin-top: 4%;
  }
    #score{
      margin-left: 39%;
    }

  .who_won{
    margin-left: 5%;
  }

  .restart_game{
    margin-left: 45%;
  }
}

@media (min-width: 660px) and (max-width: 772px){
  body{

    height: 100%;
    background-image: url('../images/horizontal_bg.jpg');
    background-repeat: repeat;
  }
  .warning{
    margin-left: 16%;
  }
  .options{
    width: 92%;
    margin-left: 8%;
  }
    #rock, #paper, #scissors{
      width: 22%;
      height: 29%;
    }
    body, .option_img{
      width: 90%;
    }
  .who_won{
    margin-left: 40%;
  }

  .restart_game{
    margin-left: 42%;
  }
  #score{
    margin-left: 39%;
  }
}

@media (min-width: 630px) and (max-width: 650px) {
  body{
    width: 90%;
    background-image: url('../images/horizontal_bg.jpg');
  }
  .options{
    width: 100%;
    margin-left: 0%;
  }
    #rock, #paper, #scissors{
      width: 22%;
      height: 29%;
    }
    .option_img{
      width: 90%;
    }
  .score{
    width: 97%;
    margin-left: 4%;
  }

    #score{
     margin-left: 35%;
   }
    #wins, #losses, #draws{
      height: 53%;
      width: 24%;
    }
  .restart_game{
    margin-left: 39%;
  }
}

@media (min-width: 489px) and (max-width: 600px){
  body{
    width: 90%;
    background-image: url('../images/horizontal_bg.jpg');
    background-repeat: repeat;
  }

  .container{
    width: 100%;
  }
    .welcome{
      font-size: 21pt;
    }
    .welcome, h3, .robot_decision{
      text-align: center;
    }
  .user_input{
    margin-left: 10%;
  }
    #play_game{
      margin-top: 5%;
    }

  .warning{
    margin-left: 13%;
  }
  .options{
    width: 97%;
    margin-left: 4%;
  }

    #rock, #paper, #scissors{
      width: 22%;
      height: 29%;
    }
    .option_img{
      width: 90%;
    }
  .robot_decision{
    width: 92%;
  }
    h2{
      margin-right: 19%;
    }

  .score{
    width: 100%;
    margin-left: 6%;
  }

  #score{
   margin-left: 35%;
 }
  #wins, #losses, #draws{
    height: 53%;
    width: 24%;
  }
  .who_won{
    margin-left: 30%;
  }
  .restart_game{
    margin-left: 36%;
  }

}

@media (min-width: 400px) and (max-width: 488px){
  body{
    width: 98%;
    background-image: url('../images/horizontal_bg.jpg');
    background-repeat: repeat;
  }
  .container{
    width: 100%;
  }
  .user_input{
    width: 35%;
    margin-left: 31%;
  }

  .time_holder{
    margin-right: 7%;
  }
    .warning{
      margin-left: 10%;
    }
  .decide{
    margin-left: 26%;
    color: black;
  }

  .options{
    width: 100%;
    margin-left: -6%;
  }
    #rock, #paper, #scissors{
      width: 22%;
      height: 29%;
    }
    .option_img{
      width: 90%;
    }
  h2{
    margin-right: 35%;
    color: white;
  }

  .score{
    width: 90%;
    height: 78%;

  }
    #score{
      margin-left: 31%;
    }
    #wins, #losses, #draws{
      width: 22%;
      height: 48%;
      display: inline-block;
    }

  .who_won{
    margin-left: 25%;
  }
  .restart_game{
    margin-left: 33%;
  }
}
