.container{
  height: 400px;
  width: 600px;
  margin: 0 auto;
}
  h1{
    color: purple;
  }

  .timer{
    width: 246px;
    height: 100px;
    margin: 0 auto;
  }
    .time_holder{
      margin-left: 14px;
    }
    .warning{
      color: red;
    }

  h3, .play_game{
    margin-left: 90px;
  }
