body{
  height: 780px;
  background-image: url('https://thenypost.files.wordpress.com/2014/06/rock-paper.jpg?quality=90&strip=all&w=664&h=441&crop=1');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container{
  height: 400px;
  width: 600px;
  margin: 0 auto;

}
  h1{
    color: purple;
  }

  .timer{
    width: 246px;
    height: 100px;
    margin: 0 auto;
  }
    .time_holder{
      margin-left: 14px;
    }
    .warning{
      color: red;
    }

  .options{
    width: 743px;
    height: 200px;
    margin-top: 25px;
    margin-left: -50px;
  }
    .option_img{
      width: 63px;
      height: 48px;
    }
    #rock, #paper, #scissors{
      margin-left: 41px;
      margin-top: 65px;
      height: 72px;
      width: 194px;
      position: relative;
      border-radius: 10px;
      background: linear-gradient(#646568, #8a8b8f);
      font-size: 24pt;
      font-weight: 600;
    }

  /* Heading asking the user to enter in the time to play */
  h3{
    margin-left: 90px;
  }
  /* Form for user input of the timer */
  .user_input{
    margin-left: 81px;
  }

  /* div to hold score divs */
  .score{
    width: 600px;
    height: 250px;
  }
    /* Heading for .score div */
    #score{
      margin-left: 235px;
    }
    #wins, #losses, #draws{
      display: inline-block;
      border: 2px solid black;
      height: 157px;
      width: 162px;
      margin: 71px 24px 0px 10px;
      margin-top: -3px;
      border-radius: 14px;
    }
      #wins{
        background-color: #00B200;
      }
      #losses{
        background-color: red;
      }
      #draws{
        background-color: #ee964e;
      }
    #keep_score{
      margin-left: 44px;
      margin-top: 24px;
      font-size: 20pt;
    }
    #count_win, #count_lose, #count_draw{
      font-size: 20pt;
      margin-left: 75px;
      margin-top: 19px;
    }

.who_won{
  font-size: 30pt;
  margin-left: 209px;
  color: blue;
}

@media screen and (max-width: 768px) {
  .container{
    width: 100%;
  }

  h1{
    margin-left: 73px;
  }

  h3{
    margin-left: 183px;
  }
  .user_input{
    margin-left: 136px;
  }

  .score{
    margin-left: 75px;
  }
}

@media only screen and (max-device-width: 480px){
  .container{
    width: 100%;
  }

  .score, #score{
    width: 100%;
  }

  #score{
   margin-left: 39px;
 }
 .decide{
   margin-left: 136px;
 }
 .options{
   width: 25px;
   height: 501px;
   margin-left: 35px;
 }
}
